@import url('https://fonts.googleapis.com/css2?family=YourSelectedFont&display=swap');

:root {
    --primary-color: #336699;
    --secondary-color: #99ccff;
    --text-color: #333;
}

body {
    font-family: 'YourSelectedFont', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 30px;
    text-align: center;
}

.header-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

header img {
    max-width: 180%;
    height: auto;
    width: 160px; /* Size of second image */
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image horizontally */
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.mission-section {
    margin-bottom: 50px; /* space between grid pictrue/otavalo  and history */
}
.mission-grid img {
    max-width: 100%;
    height: auto;
    width: 200px; /* Size of second image */
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image horizontally */
}
.mission-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.mission-text {
    color: #615a5a;
    text-align: center;
}

.mission-text h1 {
    margin-top: 0; 
}

.about-section {
    margin-bottom: 50px; /* space between history and the grid 3 division */
}

.grid-section {
    margin-bottom: 50px; /* space between the grid 3 division and Adventures Awaitings You*/
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    max-width: 70%;  /*size in generall of history image */
    height: auto;
}

.adventures-section {
    margin-bottom: 20px;
}

h2 {
    color: var(--primary-color);
}

.adventure-images {
    display: flex;
    overflow-x: auto;
}

figure {
    margin-right: 20px;
}

figure img {
    max-width: 145%;  /*size in generall in the grid of all 5 images*/
    height: auto;
}


/* Adjust size of rafting images */
.rafting-image1 img {
    width: 350px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

.rafting-image2 img {
    width: 350px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

.rafting-image3 img {
    width: 350px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

.rafting-image4 img {
    width: 220px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    place-items: center; 
}


.rafting-image5 img {
    width: 450px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}


figure figcaption {
    text-align: center;
    margin-top: 5px;
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 10px 0;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
}

.social-icons a {
    margin: 0 5px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border: none;
}
